/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* Text Styles */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Ensure the body and html take full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General styles */
.main-body {
  padding: 20px;
}

.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.header-section h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.header-section p {
  font-size: 5rem;
  margin-bottom: 20px;
}

/* Ensure the root container and main container allow for full height */
#root,
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FeatureTopBody Section Styles */
.feature-topbody-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #fff;
  color: #000;
}

.feature-topbody-text {
  flex: 1;
  max-width: 600px;
  margin-right: 20px;
  margin-left: 40px;
}

.feature-topbody-text h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-topbody-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feature-topbody-text .highlight {
  color: #a1ff0a;
}

.feature-topbody-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.feature-topbody-buttons {
  display: flex;
  gap: 10px;
}

.feature-topbody-button {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 3.5%;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.feature-topbody-button:hover {
  background-color: #15011d;
  color: rgb(255, 255, 255);
}

.feature-topbody-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.feature-topbody-image img {
  max-width: 100%;
  height: auto;
}

/* MainBody Style */

.main-body {
  text-align: center;
  padding: 2rem;
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  margin: 0;
}

.header-section {
  margin: 0 auto;
}

.header-section h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #010d00;
}

.header-section .highlight {
  color: #b3c2bf;
}

.header-section p {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.features-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 3.5%;
  /* justify-content: center; */
  /* border: solid 3px black; */
  /* text-align: center; */
}

.feature-box {
  height: 300px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  color: white;
  position: relative;
  overflow: hidden;
  /* border: solid 3px rgb(152, 49, 49); */
}

.feature-box h2 {
  /* border: solid 3px rgb(152, 49, 49); */
  font-size: 2.8rem;
  top: 75%;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-50%);
}

.feature-box:hover h2 {
  top: 7%;
  transform: translateY(0);
}

.feature-box p {
  position: absolute;
  text-align: center;
  font-size: 1.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.feature-box:hover p {
  opacity: 2;
}

.scalable {
  background-color: #149b5f; /* Color for Scalable */
}

.flexible {
  background-color: #832561; /* Color for Flexible */
}

.trustless {
  background-color: #215732; /* Color for Trustless */
}

.secure {
  background-color: #832561; /* Color for Secure */
}

.customizable {
  background-color: #0d5182; /* Color for Customizable */
}

.data-driven {
  background-color: #42b883; /* Color for Data-Driven */
}

.flexible {
  background-color: #2dbecd; /* Color for Flexible */
}

.interoperable {
  background-color: #ac0c5f; /* Color for Interoperable */
}

/* Make the feature boxes responsive */
@media (max-width: 768px) {
  .features-section {
    grid-template-columns: 1fr;
  }

  .feature-box {
    width: 100%;
  }
}

/* Header Styles */

.app-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  max-width: 1580px;
  width: 100%;
  @media (max-width: 1650px) {
    width: 90%;
  }
}

.header {
  background-color: #503291;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.logo-text {
  font-weight: bold;
  font-size: 2rem;
  margin-right: 1rem;
  color: white;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #b3c2bf;
}

.dropdown {
  margin-top: auto;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown-link:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer Styles */
.footer {
  background-color: #503291;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eb3c96;
  padding: 30px 0;
}

.footer-column {
  flex: 1;
  padding-right: 20px;
  /* p {
    border: solid 1px black;
  } */
  /* border: solid 1px black; */
  /* padding: 0 20px; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.footer-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 1rem;
}

.footer-contact {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.footer-icon {
  margin-right: 0.3rem;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.footer-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #b3c2bf;
}

.logo-text-footer {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
  color: rgb(251, 249, 249);
}

.feature-button-footer-container {
  margin-top: 15px;
}

.feature-button-footer {
  padding: 10px 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  background: none;
  color: #faf7f7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
  a {
    text-decoration: none;
    color: inherit;
  }
  transition: background-color 0.3s;
}

.feature-button-footer:hover {
  background-color: #15011d;
  border: none;
}

/* Form Style*/

.form-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form-content {
  flex: 1;
  margin-right: 2rem;
}

.form-intro {
  text-align: left;
  margin-bottom: 2rem;
}

.form-intro h1 {
  font-size: 2.5rem;
  color: #333;
}

.highlight-green {
  color: #32cd32; /* Green color */
}

.form-intro p {
  font-size: 1rem;
  color: #666;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form-textarea {
  height: 100px;
  resize: none;
}

.newsletter {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.newsletter input {
  margin-right: 0.5rem;
}

.form-submit {
  padding: 0.75rem;
  border: none;
  background-color: #503291;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #40257a;
}

.form-image {
  flex: 1;
}

.form-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* BuildingUp Styles */
.feature-buildingup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.feature-buildingup-text {
  flex: 1;
  max-width: 150%;
  padding: 20px;
}

.feature-buildingup-text h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.feature-buildingup-text ul {
  padding-left: 20px;
}

.feature-buildingup-text li {
  font-size: 1rem;
  margin-bottom: 10px;
}

.feature-buildingup-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.feature-buildingup-image img {
  max-width: 5%;
  height: auto;
  display: block;
}
